*{
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-color: #e3e3e3;
}
.hidden{
  display: none;
}
.small-icon{
  width: 18px;
  height: auto;
  fill: #ff0000;
}
.big-icon{
  width: 90px;
  height: auto;
  color: #6d0000;
}